<h4>Parameters</h4>

<table class="table table-bordered">
  <tbody>
  <% @consumer.generate_launch_data.sort.each do |key, val| %>
    <tr>
      <td><%= key %></td>
      <td><%= val %></td>
    </tr>
  <% end %>
  </tbody>
</table>
