<form action="/set_username" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" id="username" class="form-control" />
    <small id="username-help" class="form-text text-muted">Please enter a username to sign in.</small>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Sign In</button>
  </div>
</form>
