<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LTI Tool Consumer</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>LTI Tool Consumer</h1>
          <p>
            This is a basic example of an LTI Tool Consumer.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%=yield %>
        </div>
      </div>
    </div>
  </body>
</html>
