<% if @message %>
  <div class="alert alert-primary" role="alert">
    Message from Tool Provider: <%= @message %>
  </div>
<% elsif @error_message %>
  <div class="alert alert-danger" role="alert">
    Error from Tool Provider: <%= @error_message %>
  </div>
<% end %>

<h4>Welcome back!</h4>

<p>Hope you had an enjoyable time at the LTI Tool Provider.</p>

<p>
  <a href="/tool_config">Launch another Tool</a>
</p>
