<% if @message %>
  <div class="alert alert-danger" role="alert">
    <%= @message %>
  </div>
<% else %>
  <div class="alert alert-primary" role="alert">
    Hello <%= @username %>, let's configure and launch a Tool Provider!
  </div>
<% end %>

<h4>Tool Provider Configuration</h4>

<p>Now, let's configure an LTI Tool Provider</p>

<form action="/tool_launch" method="post">
  <div class="form-group">
    <label for="tool_name">Tool Name</label>
    <input name="tool_name" id="tool_name" type="text" placeholder="e.g. fakeTool" class="form-control" />
  </div>

  <div class="form-group">
    <label for="consumer_key">Consumer Key</label>
    <input name="consumer_key" id="consumer_key" type="text" placeholder="e.g. consumerKey" class="form-control" />
  </div>

  <div class="form-group">
    <label for="consumer_secret">Consumer Secret</label>
    <input name="consumer_secret" id="consumer_secret" type="text" placeholder="e.g. consumerSecret" class="form-control" />
  </div>

  <div class="form-group">
    <label for="launch_url">Launch URL</label>
    <input name="launch_url" id="launch_url" type="text" placeholder="e.g. http://localhost:9494/lti_tool" class="form-control" />
  </div>

  <div class="form-check">
    <input name="assignment" id="assignment" type="checkbox" class="form-check-input" />
    <label for="assignment">Launch As Assignment</label>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Configure</button>
  </div>
</form>
